* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  /*outline: 1px solid red !important;*/
}
html {
  margin: 0;
  padding: 0;
  background-color: black;
  font: normal 100%/1.5 Helvetica, sans-serif;
  line-height: 1;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
	min-width: 23em;
	max-width: 75em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
/* GLOBAL VARIABLES FOR ENTIRE DOCUMENT */
/* PRE-SETS FOR SECTION & DIV WIDTHS */
/* I took off 4% to account for any margins or */
/* padding that might be needed */
.one-full {
	width: 96%;
	text-align: center;
}
.half {
	width: 46%;
	display: inline-block;
}
.third {
	width: 29%;
	display: inline-block;
}
.two-thirds {
	width: 62%;
	display: inline-block;
}
.quarter {
	width: 21%;
	display: inline-block;
}

.nav {
	text-align: center;
	display: inline-block;
	margin: 0 .625em;
}
.title{
	color: aqua;
	padding-top: 0em;
	/*padding-bottom: 2em;*/
	font-size: 5em;
	text-align: center;
	font-family: purisa;

}
.nav li{
	display: inline-block;
	margin: 0 .625;
	font-size: 2em;
	font-family: purisa;
}
.nav a{
	color: aqua;
	padding: 0 2em;
}
.nav ul{
	padding-top: 2em;
	padding-bottom: 2em
}
.bringing_back{

	/*background-image: url("../desktop.png");  */
	box-shadow; color: aqua;
	/*background-repeat: no-repeat;*/
	background-size: 100%;
}
.kids{
	float: inherit;
	margin: .9375 .3125
	height: 20em;
	width: 50em;
}
.gallery-pix{
	width: 100%
}


 .logo{
 	background: #395870;
	background: linear-gradient(#3AC0D5, #293f50);
	color: #fff;
 }
.third > img {
	max-width: 100%;
	min-height: 15em;
	padding: 1em;
	
}
