@font-face {
    font-family: "Mistral";
    src: url("Mistral/Mistral.otf");
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
	color: bisque;
	background-color: black;
  /*outline: 1px solid green !important;*/
  font-size: 105%;
}
html {
  padding: 0;
  margin: 0;
  font: 100%/1.5 Mistral, sans-serif !important;
  line-height: 1;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
	color: #fff;
	margin: .25em 3em;
}
body {
	text-align: center;
	/* OVER-WRITES BOOTSTRAP ON register_user.html PAGE */
	background-color: black !important;
}


.test_black {
	border: 1px solid black;
}
.test_red {
	border: 1px solid red;
}
.test_blue {
	border: 1px solid blue;
}
.test_green {
	border: 1px solid green;
}


/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/* THIS IS THE PICTURE FRAME BORDER
   FOR THE IMAGES OF ART */
.bimage {
	/*border-image: url('../images/picture_frame_II.png') 96 94 94 96 stretch;
	border-image: url('../images/picture_frame_III.png') 88 88 88 88 stretch;
	border-right: 2em;
	border-left: 2em;
	border-top: 2em;
	border-bottom: 2em;*/
}
.bimage:hover {
	opacity: .5;
	transition: opacity 0.35s;
	transform: scale(1);
}

/**************************************************/
/**************************************************/
/* GLOBAL VARIABLES FOR ENTIRE DOCUMENT */
/* PRE-SETS FOR SECTION & DIV WIDTHS */
.one_full {
	width: 100%;
	text-align: center;
}
.nine_tenths {
	width: 90%;
	text-align: center;
}
.three_quarters {
	width: 75%;
	text-align: center;
}
.half {
	width: 50%;
	text-align: center;
	float: left;
}
.third {
	width: 33.333%;
	text-align: center;
	float: left;
}
.two_thirds {
	width: 66.666%;
	text-align: center;
	float: left;
}
.quarter {
	width: 25%;
	text-align: center;
	float: left;
}
.fifth {
	width: 20%;
	text-align: center;
	float: left;
}
.sixth {
	width: 16.666%;
	text-align: center;
	float: left;
}
.fifteen {
	width: 15%;
	text-align: center;
	float: left;
}
.twelve {
	width: 12%;
	text-align: center;
	float: left;
}

.home {
	/*margin: 0 auto;*/
}


/* NEW STUFF */
.about {
	/*margin: auto 16.8125em;*/
	text-align: left;
}

/* STYLING FOR NAV LINKS AND LIST ITEMS */
.no_style {
	text-decoration: none;
	list-style-type: none;
}
.no_style:hover {
	color: green;
}
/* CLOSES MARGINS FOR 
   VARIOUS ELEMENTS*/
.no_bottom_margin {
	margin-bottom: 0;
}
.no_top_margin {
	margin-top: 0;
}

/* BUTTONS */
button {
	width: 7em;
	height: 1.5em;
	border-radius: .25em;
	border: none;
	background-color: transparent;
	font-family: Helvetica;
}
/* THE VIEW MORE BUTTON */
.extra_margin_bottom {
	margin-bottom: .5em;
}
.extra_margin_top {
	margin-top: .55em;
}
.dark_button {
	background-color: #7D629E;
	font-size: 100%;
	color: white;
}
.dark_button:hover {
	color: #151414;
	font-weight: bolder;
	background-color: white;
}

/* CHANGES FONT TO Helvetica */
.font_change {
	font-family: Helvetica;
	font-size: 95%;
	font-weight: lighter;
}
/* ******************************************************* */
/* ******************************************************* */
/* *********************END GLOBAL************************ */
/* ******************************************************* */
/* ******************************************************* */




/* ******************************************************* */
/* ******************************************************* */
/* index.html PAGE */
/* NEEDED TO SEPERATE IMAGE FROM
   HEADER/NAV BAR */
.extra_padding {
	padding-top: 7em;
}






/* ******************************************************* */
/* ******************************************************* */
/* STYLING FOR THE individual_piece.html PAGE */
/* THIS MAINTAINS THE RATIO OF THE ART IMAGE */
.individual_image_ratio {
	width: 17em;
}
/* THIS IS TO SIZE THE ARTIST'S PHOTO */
.artist_photo {
	width: 9em;
}
.visibility_none {
	visibility: hidden;
}
.extra_padding_top {
	padding-top: .6875em;
}
.padding_top {
	padding-top: 6em;
}
.individual_button {
	width: 2.5em;
}



/* ******************************************************* */
/* ******************************************************* */
/* STYLING FOR THE about.html PAGE */
.main_image {
	width: 36em;
}
.kids_and_art {
	width: 24em;
	height: 18em;
}




/* ******************************************************* */
/* ******************************************************* */
/* STYLING FOR THE filter.html PAGE */
.z_placement {
	z-index: 1;
	padding-top: 10em;
	padding-bottom: 1em;
}




/**************************************************/
/**************************************************/
/* LANDING PAGE */
/* POSITIONS THE HEADER/NAV BAR AS FIXED */
/* CUSTOM COLORS FOR THE NAV BAR */
.home_color {
	color: #C0504D !important;
}
.about_color {
	color: #D76509 !important;
}
.gallery_color {
	color: #376091 !important;
}
.cart_color {
	color: #77933B !important;
}
.browse_color {
	color: #7D629E !important;
}
.nav_bar_font_size {
	font-size: 141%;
}
.fix {
	position: fixed;
	/*float: left;*/
	padding-top: 1em;
	margin-top: -1.25em;
	z-index: 3;
	/*max-width: 50em;*/
}
.nav_pad_ul {
	margin-top: 0em;
	height: 1em;
	width: 27em;
	float: right;
	z-index: 1000;
}
.logo_div {
	/*padding-left: 1.5em;*/
	float: left;
	z-index: 1;
}
.nav_div {
	padding-right: 9em;
	float: left;
	z-index: 1;
}
.nav_pad_li {
	padding-left: 1em;
	padding-right: 1em;
	float: left;
}
.logo_text {
	margin-top: -.12em;
	margin-left: 1.25em;
	font-size: 300%;
	text-align: left;
}
.opportunity_text {
	margin-left: 3.5em;
	font-family: Helvetica;
	font-weight: bolder;
	color: #626262;
	text-align: left;
}
.landing_images {
	margin-top: 7em;
}


/* ******************************************************* */
/* ******************************************************* */
/* gallery.html PAGE */
/* SIZE ADJUSTMENT FOR THE MAIN PAGE HEADER IMAGE */
.base_container {
	padding-top: 7em;
}
/* STYLING FOR SAMPLE IMAGES ON gallery_display.html PAGE*/
.display_size {
	width: 16.5em;
	height: 16.5em;
}
.cart_display_size {
	width: 10em;
	height: 10em;
}
.left_align_text {
	text-align: left;
}
.align_info {
	margin: 0 auto;
	margin-left: 3.75em;
	width: 13.75em;
	text-align: left;
}
.title_margin {
	margin-bottom: 1em;
}
.pad_bottom {
	/*padding-bottom: 2.5em;*/
}
.add_button {
	position: relative;
	top: 16.5em;
	left: 5.5em;
	transform: rotate(-30deg);
	z-index: 1;
}
.close_margin {
	margin-top: .75em;
}



/* ******************************************************* */
/* ******************************************************* */
/* STYLING FOR THE cart.html PAGE */
.highlight_red:hover {
	color: red;
}
.cart_top {
	font-family: Helvetica;
}
.side_margins {
	padding-right: 3em;
	padding-left: 3em;
}
.cart_size {
	width: 397%;
}
.rem_extra_marg {
	margin-top: 2em;
}
.cart_label_top_marg {
	margin-top: 7.5em;
}
.total_cost {
	width: 9em;
}

/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ********************* MEDIA QUERIES ******************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */

@media only screen and (max-width: 75em) {
	.third {
		width: 50%;
		text-align: center;
		float: left;
	}
	.title_margin {
		margin-top: -.5em;
		margin-bottom: 0em;
	}
	.btn_width_adjust {
		width: 20%;
		float: none;
		margin: 0 auto;
	}
	.display_size {
	/*	width: 21em;
		height: 21em;*/
	}
	.align_info {
		width: 18.35em;
		/*margin-right: 1.65em;*/
	}
	.add_button {
		top: 21.25em;
		left: 8em;
	}
	.cart_bottom {
		/*margin-bottom: 15.5em;*/
	}
	.select_sizing {
		width: 28.5%;
	}
}

@media only screen and (max-width: 62em) {
	.display_size {
		width: 16.5em;
		height: 16.5em;
	}
	.align_info {
		width: 13.75em;
	}
	.add_button {
		top: 16.5em;
		left: 5.5em;
	}
}


@media only screen and (max-width: 59em) {
	.home {
		/*margin-left: -3.1em;*/
	}
	.nav_div {
		padding-right: 5em;
		padding-bottom: 1em;
	}
	.logo_div {
		padding-right: 3.5em;
		float: none;
	}
	.nav_pad_ul {
		margin: 0 auto;
		width: 27em;
		float: none;
	}
	.base_container {
		padding-top: 8.5em;
	}
	.landing_images {
		padding-top: 2em;
	}
	.half {
		width: 100%;
		text-align: center;
		float: none;
	}
	.center_on_drop {
		text-align: center;
	}
	.opportunity_text {
		margin-left: -2.35em;
	}
	.logo_text {
		margin-left: -.85em;
	}
	.title_margin {
		margin-bottom: 2em;
	}
	.align_info {
		margin-left: 1.65em;
	}
	.fix_at_mobile {
		position: fixed;
	}
	.font_change {
	}
	.z_placement {
		padding-top: 7.5em;
	}
}

@media only screen and (max-width: 51em) {
	.display_size {
		width: 13.5em;
		height: 13.5em;
	}
	.align_info {
		width: 10.75em;
	}
	.add_button {
		top: 13em;
		left: 4em;
	}
}

@media only screen and (max-width: 47em) {
	.quarter {
		width: 100%;
		text-align: center;
	}
	.image_ratio {
		width: 20em;
	}
	.artist_photo {
		width: 11em;
	}
	.cart_pad {
		padding-top: 6em;
	}
	.cart_size {
		width: 50%;
	}
	.hide_on_drop {
		display: none;
	}
	.twelve {
		width: 100%;
		text-align: center;
	}
	.cart_label_top_marg {
		margin-top: 0em;
		margin-left: 4.75em;
		text-align: left;
		/*margin-left: 5.25em;*/
	}
	.visibility_none {
		display: none;
	}
	.i_pad_cart_padding_top {
		padding-top: 2em;
	}
}

@media only screen and (max-width: 43em) {
	.home {
		/*margin-left: -3.1em;*/
	}
	.third {
		/*width: 100%;*/
	}
	.nav_pad_ul {
		/*width: 27em;*/
	}
	.nav_pad_li {
		text-align: center;
	}
	.view_more {
		position: fixed;
		padding-top: .75em;
		margin-left: -2.75em;
		margin-top: -.4em;
		height: 3em;
		z-index: 2;
	}
	.landing_images {
		margin-top: 8em;
	}
	.display_size {
		width: 10em;
		height: 10em;
	}
	.font_change {
		font-size: 100%;
	}
	.align_info {
		width: 20.25em;
	}
	.add_button {
		top: 23.5em;
		left: 9em;
	}
	.extra_padding {/* FOR iPAD VIEW */
		padding-top: 8em;
	}
	.push_margin {
		/*margin-bottom: 8em;*/
	}
	.i_pad_width_percentage {
		width: 50%;
	}
	.close_margin {
		margin-top: 3.15em;
		margin-left: 5.5em;
	}
}

@media only screen and (max-width: 37em) {
	.display_size {
		width: 21em;
		height: 21em;
	}
	.align_info {
		width: 19em;
	}
	.add_button {
		top: 21em;
		left: 8em;
	}
}

@media only screen and (max-width: 33em) {
	.display_size {
		width: 16.5em;
		height: 16.5em;
	}
	.align_info {
		width: 14em;
	}
	.add_button {
		top: 16.5em;
		left: 5.5em;
	}
}

@media only screen and (max-width: 29em) {
	body {
		margin: .25em -2em;
	}
	.home {
	}
	.home {
		margin-left: -.5em;
	}
	.logo_div {
		padding-right: 0em;
		margin-left: .85em;
	}
	.logo_text {
		margin-left: -2em;
		font-size: 141%;
	}
	.opportunity_text {
		display: none;
	}
	.nav_div {
		padding-right: 0em;
	}
	.nav_pad_ul {
		width: 22em;
		font-size: 76%;
	}
	.nav_pad_li {
		padding-left: .5em;
		padding-right: .5em;
		text-align: center;
	}
	.view_more {
		position: fixed;
		padding-top: .75em;
		margin-left: -.65em;
		width: 100%;
		height: 3em;
		z-index: 2;
	}
	.close_margin {
		margin-top: 3.5em;
	}
	.reduce_font {/* nav bar */
		padding-top: .5em;
		font-size: 74%;
	}
	.individual_image_ratio {
		width: 12.5em;
	}
	.small_pad {
		padding-top: 4em;
	}
	.font_change {
		margin-left: -3.25em;
		font-size: 95%;
	}
	.individual_extra_padding {
		padding-top: 2.25em;
		margin-left: 0em;
	}

	.landing_images {
		display: none;
	}
	.cart_pad {
		padding-top: 3em;
	}
	.cart_display_size {
		width: 9em;
		height: 9em;
	}
	.third {
		margin-left: 3em;
		width: 100%;
	}
	.btn_width_adjust {
		width: 33%;
		float: none;
		margin: 0 auto;
	}
	.base_container {
		padding-top: 3.5em;
	}
	.display_size {
		width: 12.5em;
		height: 12.5em;
	}
	.individ_display_size {
		width: 12.5em;
	}
	.align_info {
		margin-left: 4.5em;
		width: 10.75em;
	}
	.add_button {
		width: 5em;
		height: 1.5em;
		top: 10.5em;
		left: 3em;
	}
	.title_margin {
		margin-top: -.5em;
		margin-bottom: 1em;
	}
	.fix_at_mobile {
		position: fixed;
	}
	.z_placement {
		z-index: 1;
		padding-top: 1.5em;
	}
	.reset_button {
		margin-top: .25em;
		width: 7em;
	}
	.browse_margin {
		padding-top: 20em;
	}
  fieldset {
	  padding-top: .25em;
  }
  .select_sizing {
  	width: 92.5%;
  	float: none;
  }
  .tbody {
  	margin: 0 auto;
  }
  .side_margins {
		padding-right: 0em;
		padding-left: 0em;
	}
	.font_size_for_cart {
		font-size: 95%;
	}
	.cart_label_top_marg {
		margin-left: .5em;
	}

}

@media only screen and (min-width: 29em) {
	.show_small {
		display: none;
	}
}





.active {
	background-color: rgb(39, 37, 37);
}
.nav_div li {
	cursor: pointer;
}
.nav_div li a {
	background-color: transparent;	
}