* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
/*  outline: 1px solid red !important;*/
}
html {
  margin: 0;
  padding: 0;
  background-color: #e2e2e2;
  font: normal 100%/1.5 Purisa, sans-serif;
  line-height: 1;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
	min-width: 23em;
	max-width: 75em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}





/* borders to test boundaries */
/*
.border_green {
  border: 1px solid green;
}
.border_black {
  border: 1px solid black;
}
.border_orange{
  border: 1px solid orange;
  vertical-align: top;  
}
.border_blue{
  border: 1px solid darkblue;
  vertical-align: top;  
}
*/











/* GLOBAL VARIABLES FOR ENTIRE DOCUMENT */
/* PRE-SETS FOR SECTION & DIV WIDTHS */
/* I took off 4% to account for any margins or */
/* padding that might be needed */
.one-full {
  width: 100%;
  text-align: center;
}
.half {
  width: 49.5%;
  text-align: center;
  display: inline-block;
}
.third {
  width: 32.5%;
  text-align: center;
  display: inline-block;
}
.two-thirds {
  width: 65.5%;
  text-align: center;
  display: inline-block;
}
.quarter {
  width: 23.5%;
  text-align: center;
  display: inline-block;
}

/* STYLING FOR NAV LINKS */
.no-style {
  list-style-type: none;
  text-decoration: none;
  color: black;
}
a.no-style:hover {
  color: green;
}

/* LEFT ALIGN FOR RADIO BUTTONS */
.left-align {
  text-align: left;
}

/* CENTER AN ELEMENT */
.center-element {
  margin: 0 auto;
}


/* * * *  Murph'z * * * */
/*.eight {
  width: 10.5%;
  display: inline-block;
}*/
.align-top {
  vertical-align: top; 
}

.selectBy{
  padding-bottom: 1em;
}
.selection {
  padding-top: 1em;
}
.selectArt  input {
  padding: .3125em;
  margin: .2em auto .5em auto;
  border-radius: .3125em;
}
.selectByArtist input {
  margin: .2em auto .5em auto;
}
.selectByInstitution input {
  margin: .2em auto 1.75em auto;
}
fieldset {
  border-radius: .3125em;
}
.topHeight {
  min-height: 9em;  
}
/*.topDivHeight {
  min-height: 12.5em;
}*/
.radio_select {
  padding-top: .3em;
  padding-bottom: .3em;
}
h4 {
  margin: .75em auto .75em auto;
}
.third > img {
  min-height: 15em;
 /* max-height: 15em;*/
  max-width: 100%;
  padding: 1.5em;
}
/*.half input {
  text-align: left;
}
*/
/*.medium  div {
  text-align: left;
}
.medium  div > span{
  padding-left: 1em;
}
.selectArt div{
  padding: 0 1em 1em 0;
}
.selectArt div input {
  padding: .3125em;
  margin: 0 auto;
  border-radius: .3125em;
}
fieldset.selectArt  {
  border-radius: .3125em;
}
.third > img {
  max-height: 25em;
  max-width: 100%;
  padding: 1em;

}*/


/*.medium > div > span{
  text-align: right;
}*/
/*.selection{
  display: block;
}*/