<style type="text/css">
	#about {
		text-align: justify;
		padding-top: 8em;
		font-family: Helvetica;
		width: 100%;
	}
	#about .a-orange {
		color: #D66509;
	}
	#about .founder p {
		margin: 0;
	}
	#about .center {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		left: 0;
		right: 0;
	}
	#about .padding-bottom-sm {
		padding-bottom: 1em;
	}

	@media only screen and (max-width: 59em) {
		#about {
			padding-top: 11em;
		}
		.new_pad {
			padding-bottom: 7em;
		}
	}	
	@media only screen and (max-width: 29em) {
		#about {
			padding-top: 5em;
		}
	}
</style>

<div id="about" class="center">
  <div class="founder center padding-bottom-sm"> 
		<img class="footer_logo" src="images/tommy_profile_pic.jpg">
		<p>Tommy Winfrey, Founder</p>
		<p>San Quentin State Prison</p>
  </div>
	<div class="about-info">
		<p>For years our creativity has been locked away for no one to see. All artwork on this site was produced in prison by those wishing to express themselves through art.</p>
		<p>Sales proceeds will help artist when they reenter society and support after <a class="a-orange" href="#/support">school art programs</a> in underserved communities.</p>
		<p class="new_pad">Thank you for looking at the world through our eyes. We hope you'll enjoy the journey.</p>
	</div>
</div>	<!-- <extra_padding -->