<style type="text/css">
	div {
		/*font-family: Sawasdee;*/
		color: #fff;
	}
	.footer_logo {
		width: 75%;
	}
	.about {
		/*margin: auto 16.8125em;*/
		text-align: left;
	}
/*	p + a:link {
		color: blue;
	}*/
	.anchorBlue {
		color: blue;
	}
	.extra_padding_about {
	padding-top: 7em;
	}
/* ******************************************************* */
/* ********************* MEDIA QUERIES ******************* */
@media only screen and (max-width: 65em) {/* 1170px */
	.drop_one_sixth {
		display: none;
	}
	.about {
		margin: auto 6.5em;
		text-align: left;
	}
	.extra_padding_about {
	padding-top: 10em;
	}
}
@media only screen and (max-width: 47em) {/* 845px */
	.drop_one_sixth {
		display: none;
	}
/*	.two_thirds {
		width: 100%;
		text-align: center;
		float: left;
	}*/
	.about {
		margin: auto 4em;
		text-align: left;
	}
	.extra_padding_about {
	padding-top: 9em;
	}
}
@media only screen and (max-width: 30em) {/* 525px */
	.drop_one_sixth {
		display: none;	
	}
	.two_thirds {
		width: 100%;
		text-align: center;
		float: left;
	}
	.about {
		margin: 0;
		text-align: left;
	}
	.extra_padding_about {
	padding-top: 4em;
	}
}
</style>

	<div class="extra_padding_about font_change">
		<div class="">
			<div class="sixth drop_one_sixth">&nbsp</div>
			<div class="two_thirds about">
				<p>For years our creativity has been locked away for no one to see. All artwork on this site was produced in prison by those wishing to express themselves through art.</p>
				<p>Sales proceeds will help artist when they reenter society and support after<a class="anchorBlue" href="#/support"> school art programs </a>in underserved communities.</p>
				<p>Thank you for looking at the world through our eyes. </br>We hope you'll enjoy the journey.</p>
			</div>
			<div class="sixth drop_one_sixth">&nbsp</div>
		</div>  <!-- one_full -->
	    <div class="one_full"> 
	         <div class="two_thirds">&nbsp</div>
	    	<div class="quarter">
				<p>Tommy Winfrey, Founder<br>San Quentin State Prison</p>
				<!-- <img class="footer_logo" src="../images/artfelt_logo_SMALL.png"> -->
			</div>
	    </div>

	</div>	<!-- <extra_padding -->