<!-- THIS IS THE ABOUT PAGE -->
<!-- THIS IS THE HEADER WITH THE LOGO, NAV-BAR, AND BACKGROUND IMAGE -->
<div class="one-full">
  <ul class="">
    <li class="quarter"><a href="#" class="no-style">Home</a></li>
    <!-- <li class="quarter"><a href="#/about" class="no-style">About</a></li> -->
    <li class="quarter"><a href="#/filter" class="no-style">Select Medium</a></li>
    <li class="quarter"><a href="#/cart" class="half" ng-click="viewCart()">View Cart</a></li>
  </ul>
</div>
<!-- *************************************************************************** -->
<!-- *************************************************************************** -->
<style type="text/css">
section {
	background-color: #151414;
}
</style>


	<section>
		<div class="one-full bringing_back">
			<h2 class="title">Bringing Art Programs Back!</br></h2>
		</div>
		<div class="one-full image-kids-container">
			<img class="kids" src="images/teen_art/school_children.png" alt="Kids sitting on the floor!">
			<p class="caption">"Children taking advantage of art class"!
			</p>
		</div>
			<h1 class="logo">
				<a href="">Learn About the Kids Program</a>
			</h1>
			
	</section>	
  
 
	<div class="gallery-pix one-full">
			<img class="third multi" src="images/teen_art/gallery.png">
			<img class="third multi" src="images/teen_art/header_image.png">
			<img class="third multi" src="images/teen_art/prisoners_doing_artwork.png">
	</div>