<table class="one_full border_green extra_padding">
	<thead>
		<tr class="">
			<th class="quarter">Image</th>
			<th class="sixth">Title</th>
			<th class="sixth">Medium</th>
			<th class="sixth">Size</th>
			<th class="sixth">Aritist</th>
			<th class="sixth">Price</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in getArt()">
			<td class="quarter"><img class="bimage cart_display_size" ng-src="{{ item.src }}" /></td>
			<td class="sixth">{{ item.title }}</td>
			<td class="sixth">{{ item.medium }}</td>
			<td class="sixth">{{ item.dimensions }}</td>
			<td class="sixth">{{ item.artistName }}</td>
			<td class="sixth">{{ item.price | currency }}</td>
			<td><button class="" ng-click="removeArt(item)">Remove this piece</button></td>
		</tr>
	</tbody>
	<tfoot>
		<!-- <tr ng-hide="total() == 0"> -->
		<tr>
			<td></td>
			<td>Your order total is:</td><td style="color:green">{{ total() | currency }}</td>
		</tr>
	</tfoot>
</table>
	<div class="one_full">
		<a class="third no_style" href="#"><p>Continue Shopping</p></a>
		<button class="third no_style">Submit Order</button>
		<button class="third no_style highlight_red" ng-click="clearCart()">Clear Cart</button>
	</div>
