<div class="one_full side_margins font_change cart_bottom cart_top">

	<table class="one_full cart_pad extra_padding">
		<thead class="one_full">
			<tr class="one_full hide_on_drop">
				<th class="quarter">Image of Piece</th>
				<th class="twelve">Title</th>
				<th class="twelve">Medium</th>
				<th class="twelve">Size</th>
				<th class="twelve">Aritist</th>
				<th class="twelve">Price</th>
				<th class="twelve visibility_none">elo</th>
			</tr>
		</thead>
		<tbody class="one_full">
			<tr class="one_full" ng-click="setCurrItem(item)" ng-repeat="item in getArt()">
				<td class="quarter">
					<a class="no_style quarter" href="#/favs/{{item.title}}">
						<img class="cart_display_size rem_extra_marg" ng-src="{{ item.src }}" />
					</a>
				</td>
				<td class="twelve cart_label_top_marg">{{ item.title }}</td>
				<td class="twelve cart_label_top_marg">{{ item.medium }}</td>
				<td class="twelve cart_label_top_marg">{{ item.dimensions }}</td>
				<td class="twelve cart_label_top_marg">{{ item.artistName }}</td>
				<td class="twelve cart_label_top_marg">{{ item.price | currency }}</td>
				<td class="twelve cart_label_top_marg highlight_red" ng-click="removeArt(item)">Remove from cart</td>
			</tr>
		</tbody>
		<tfoot>
			<tr class="one_full">
				<td class="quarter visibility_none">elo</td>
				<td class="twelve visibility_none">elo</td>
				<td class="twelve visibility_none">elo</td>
				<td class="twelve visibility_none">elo</td>
				<td class="twelve">Your order total is:</td>
				<td class="twelve" style="color:green">{{ total() | currency }}</td>
				<td class="twelve visibility_none">elo</td>
			</tr>
		</tfoot>
	</table>

	<div class="one_full">
		<a class="quarter no_style" href="#/gallery">Continue Shopping</a>
		<a class="quarter no_style" href="#/register">Register Purchase</a>
		<button class="quarter">Submit Order</button>
		<button class="quarter highlight_red" ng-click="clearCart()">Clear Cart</button>
	</div>

</div>
