<!-- THIS IS THE HEADER WITH THE LOGO, NAV-BAR, AND BACKGROUND IMAGE -->
<div class="one-full">
  <ul class="">
    <li class="quarter"><a href="#" class="no-style">Home</a></li>
    <li class="quarter"><a href="#/about" class="no-style">About</a></li>
    <!-- <li class="quarter"><a href="#/filter" class="no-style">Select</a></li> -->
    <li class="quarter"><a href="#/cart" class="half" ng-click="viewCart()">View Cart</a></li>
  </ul>
</div>
<!-- *************************************************************************** -->
<!-- *************************************************************************** -->
<div class="one-full">
    <div  class="one-full border_orange">

      <div class="third align-top topDivHeight border_black">
        <label class="medium"><span><h4>By Medium</h4></span></label>
        <fieldset class="topHeight">
          <ul class="radio_select half border_green">
            <li class="no-style left-align"><input type="radio" name="medium" value="oil" class="eight" />Oil</li>
            <li class="no-style left-align"><input type="radio" name="medium" value="acrylic" class="eight"/>Acrylic</li>
            <li class="no-style left-align"><input type="radio" name="medium" value="water color" class="eight"/>Water Color</li>
            <li class="no-style left-align"><input type="radio" name="medium" value="pen" class="eight"/>Pen</li>
            <li class="no-style left-align"><input type="radio" name="medium" value="pencil" class="eight"/>Pencil</li>
          </ul>
        </fieldset>
      </div>

      <div class="third  topDivHeight align-top border_blue">
        <label class="medium"><span><h4>By Size (inches)</h4></span></label>
        <fieldset class="topHeight">
          <ul class="radio_select  half border_green">
            <li class="no-style left-align"><input type="radio" name="dimensions" value="2 x 3" class="eight" />2 x 3</li>           
            <li class="no-style left-align"><input type="radio" name="dimensions" value="5 x 7" class="eight" />5 x 7</li>
            <li class="no-style left-align"><input type="radio" name="dimensions" value="7 x 9" class="eight" />7 x 9</li>
            <li class="no-style left-align"><input type="radio" name="dimensions" value="9 x 11" class="eight" />9 x 11</li>
            <li class="no-style left-align"><input type="radio" name="dimensions" value="11 x 17" class="eight" />11 x 17</li>
          </ul>
        </fieldset>
      </div>      
      
      <div  class="third  topDivHeight align-top selectArt border_green">
        <label class="medium"><span><h4>Select By</h4></span></label>
        <fieldset class="topHeight border_orange">
          <div class="selection">
            <span>Artist</span>
          </div>
          <div class="selectByArtist">
            <select type="type" name="artistName" class="three-quarter" />
              <option value="choose" class="three-quarter">Select Artist</option>
              <!-- Options are generated from db onload -->
            </select>
          </div>
          <div class="selection2">
            <span>Institution</span> 
          </div>
          <div class="selectByInstitution">
            <select type="type" name="prison" class="three-quarter" />
              <option value="choose" class="three-quarter">Select Institution</option>
              <!-- Options are generated from db onload -->
            </select>
          </div>            
        </fieldset>
      </div> <!-- third -->  

    </div> <!-- end of one-full  </div> -->

<script type="text/javascript" src="scripts/murph.js"></script>




<!--     <div class="one-full artGallery">

    <div class="third border_black">
        <img class="singleGalleryPic" src="./images/prisoners_doing_artwork.png">
      </div>
      <div class="third border_black">
        <img class="singleGalleryPic" src="./images/teen_art/cet.jpg">
      </div>
      <div class="third border_black">
        <img class="singleGalleryPic" src="./images/teen_art/teen-kids-painting.jpg">
      </div>

      <div class="third border_black">
        <img class="singleGalleryPic" src="./images/prisoners_doing_artwork.png">
      </div>
      <div class="third border_black">
        <img class="singleGalleryPic" src="./images/teen_art/school_children.png">
      </div>
      <div class="third border_black">
        <img class="singleGalleryPic" src="./images/teen_art/children-making-art-in-classroom.jpg">
      </div>

      <div class="third border_black">
        <img class="singleGalleryPic" src="./images/teen_art/school_children.png">
      </div>
      <div class="third border_black">
        <img class="singleGalleryPic" src="./images/gallery.png">
      </div>

    </div> -->
     <!-- end of one-full  </div> -->

