<!-- THIS IS THE HEADER WITH THE LOGO, NAV-BAR, AND BACKGROUND IMAGE -->
<div class="one-full">
  <ul class="">
    <li class="fifth"><a href="#" class="no-style">Home</a></li>
    <li class="fifth"><a href="#/about" class="no-style">About</a></li>
    <li class="fifth"><a href="#/filter" class="no-style">Select Medium</a></li>
    <li class="fifth"><a href="#/cart" class="half no-style" ng-click="viewCart()">View Cart</a></li>
    <li class="fifth"><span class="">{{ ??? }} Items in Cart</span></li>
  </ul>
</div>
<!-- *************************************************************************** -->
<!-- *************************************************************************** -->



	<section>
		<div class="one-full bringing_back">
			<h2 class="title">Incarcerated!</h2>
		</div>
			
	</section>	
  
 
	<div class="gallery-pix one-full">
			<!-- <img class="third multi" src="images/teen_art/gallery.png"> -->
			<!-- <img class="third multi" src="images/teen_art/header_image.png"> -->
			<img class="third multi" src="images/teen_art/prisoners_doing_artwork.png">
	</div>