<!-- THIS SHOWS THE INDIVIDUAL ITEM WHEN IT GETS SELECTED ON THE MAIN PAGE -->
<div class="one_full extra_padding extra_margin_bottom">

	<div class="half">
		<p class="one_full">{{ currItem.title }}, {{ currItem.medium }}</p>
			<p class="one_full no_top_margin">{{ currItem.dimensions }}</p>
		<img class="one_full bimage image_ratio" ng-src="{{currItem.src}}" />

		<div clas"one_full extra_margin_top">
			<!-- <p class="third"></p> -->
			<p class="half no_top_margin extra_padding_top">{{ currItem.price | currency }}</p>
			<p class="half no_top_margin btn_width_adjust"><button class="dark_button" ng-click="addArt(currItem)">Add To Cart</button></p>
			<!-- <p class="quarter"></p> -->
		</div>

		<div clas"one_full">
			<p class="half no_top_margin no_bottom_margin visibility_none">ERIN L. O'CONNOR</p>
			<a class="half no_style" href="#"><p class="no_top_margin no_style">Continue Shopping</p></a>
			<!-- <a class="half" href="#/cart" ng-click="viewCart()"><button class="">View Cart</button></a> -->
			<!-- <p class="quarter"></p> -->
		</div>
	
	</div>
	<div class="half">
		<p class="one_full">Artist: {{ currItem.artistName }}</p>
		<p class="one_full visibility_none">Artist: {{ currItem.artistName }}</p>
		<div class="one_full"><img class="artist_photo" src="images/artist_image.png"></div>
		<p class="one_full">{{ currItem.description }}</p>
	</div>

	
</div>
