<div class="one_full extra_padding">
  <img class="header_ratio" src="images/artwork/man_in_cell.png">
</div>
<div class="one_full">
  <p>Connecting <a href="#/incarcerated">incarcerated artists</a> with prospective art buyers.</p>
</div>
<!-- **************************************************************** -->
<div class="one_full">
<!-- THE BUTTON TO CYCLE IMAGES -->
	<span class=""><button class="extra_margin_bottom" ng-click="cycleImages()">View More</button></span>
</div>
<!-- **************************************************************** -->

<!-- THIS USES THE cycleImages() FUNCTION IN THE controllers.js FILE TO CYCLE RANDOM PIECES FOR DISPLAY -->
<div class="one_full">
	<div class="third bottom_mar drop_from_third" ng-click="setCurrItem(item)" ng-repeat="item in randItems | limitTo:6">
		<a class="no_style" href="#/favs/{{item.title}}">
			<img class="bimage one_full display_size" ng-src="{{item.src}}" alt="Sorry, no image to display:("/>
		</a>
		<div class="one_full extra_margin_top">
			<p class="one_full no_bottom_margin no_top_margin">Title: {{ item.title }}, Medium: {{ item.medium }}</p>
			<p class="one_full no_top_margin no_bottom_margin">Dimensions: {{ item.dimensions }}</p>
			<p class="one_full no_top_margin no_bottom_margin">Artist: {{ item.artistName }}</p>
			<p class="half drop_from_half no_bottom_margin">{{ item.price | currency }}</p>
			<span class="half drop_from_half extra_margin_bottom"><button class="dark_button" ng-click="addArt(item)">Add To Cart</button></span>
		</div>
	</div>
</div>
<!-- **************************************************************** -->
