<!-- THIS IS THE LOGO, NAV-BAR, AND BACKGROUND IMAGE -->
<div class="one-full background">
  <ul class="">
    <li class="quarter"><a href="#home" class="no-style">Home</a></li>
    <li class="quarter"><a href="#artists" class="no-style">More Artists</a></li>
    <li class="quarter"><a href="#filter" class="no-style">Filter Favorites</a></li>
    <li class="quarter"><a href="#purchase" class="no-style">Purchase Information</a></li>
  </ul>
</div>	
<!-- *************************************************************************** -->



	<!-- THIS USES THE cycleImages() FUNCTION IN THE controllers.js FILE TO CYCLE 
				RANDOM PIECES FOR DISPLAY -->
	<div class="one-full">
		<span class="third"></span>
		<span class="third">To view some <button class="see-art" ng-click="cycleImages()">Prisoner's Art</button></span>
		<span class="third"></span>
	</div>
<!-- *************************************************************************** -->	
<!-- *************************************************************************** -->	
<!-- *************************************************************************** -->	
<!-- *************************************************************************** -->	

	<!-- THIS IS WHERE THE IMAGES GET DISPLAYED -->
	<div class="one-full initial-display"> </div>





