<style type="text/css">
div {
	font-family: Sawasdee;
	color: #fff;
}
</style>
	<div class="extra_padding">
		<div class="one_full">
			<div class="two_thirds about">
				<p>For years our creativity has been locked away for no one to see. All artwork on this site was produced in prison by those wishing to express themselves through art.</p>
				<p>Sales proceeds will help artist when they reenter society and <a href="">support after school youth programs in underserved communities.</a></p>
				<p>Thank you for looking at the world through our eyes.</p>We hope you'll enjoy the journey.
			</div>
		</div>  <!-- one_full -->
			<!-- <div>
				<p>Tommy Winfrey, Founder</p>
				<p>San Quentin State Prison</p>
			</div> -->
	</div>	<!-- <extra_padding -->