<style type="text/css">
   span, label, .error {
   	font-family: Helvetica;
   }
   form {
   	font-size: 110%;
   }
   input {
   	border-radius: .25em;
   }
	.extra_padding_reg {
		padding-top: 8em;
	}
	.last_sixth_padding_1 {
		padding-bottom: 1.8em;
	}
	.last_sixth_padding {
		padding-bottom: 2.8em;
	}
	.btn_reg {
		background-color: limegreen;
	}
	.btn_reg:hover {
		background-color: darkgreen;
	}


	.btn-success_reg {
		background-color: green;
	}

/****** */
@media only screen and (max-width: 59em) {/* 1062px */
	.extra_padding_reg {
		padding-top: 9.5em;
	}
	.last_sixth_padding_1 {
		padding-bottom: 2em;
	}

		.last_sixth_padding {
		padding-bottom: 2em;
	}
	.one_full_sm {
		width: 100%;
		text-align: center;		
	}


}
@media only screen and (max-width: 51em) {/* 918px */
	.extra_padding_reg {
		padding-top: 9.5em;
	}
	.last_sixth_padding_1 {
		padding-bottom: 2em;
	}

		.last_sixth_padding {
		padding-bottom: 2em;
	}
	.one_full_sm {
		width: 100%;
		text-align: center;		
	}
}
@media only screen and (max-width: 47em) {/* 845px */
	.extra_padding_reg {
		padding-top: 10em;
	}
	.last_sixth_padding_1 {
		padding-bottom: 2em;
	}

		.last_sixth_padding {
		padding-bottom: 2em;
	}
	.one_full_sm {
		width: 100%;
		text-align: center;		
	}
}
@media only screen and (max-width: 43em) {/* 774px */
	.extra_padding_reg {
		padding-top: 16.5em;
	}
	.last_sixth_padding_1 {
		padding-bottom: 2em;
	}

	.last_sixth_padding {
		padding-bottom: 2em;
	}
	.one_full_sm {
		width: 100%;
		text-align: center;		
	}
}
@media only screen and (max-width: 37em) {/* 666px */
	.extra_padding_reg {
		padding-top: 18em;
	}
	.last_sixth_padding_1 {
		padding-bottom: 2em;
	}

		.last_sixth_padding {
		padding-bottom: 2em;
	}
	.one_full_sm {
		width: 100%;
		text-align: center;		
	}
}
@media only screen and (max-width: 33em) {/* 600px */
	.extra_padding_reg {
		padding-top: 18em;
	}
	.last_sixth_padding_1 {
		padding-bottom: 2em;
	}

		.last_sixth_padding {
		padding-bottom: 2em;
	}
	.one_full_sm {
		width: 100%;
		text-align: center;		
	}
}
@media only screen and (max-width: 29em) {/* 535px */
	.extra_padding_reg {
		padding-top: 6em;
	}
	.last_sixth_padding_1 {
		padding-bottom: 3.5em;
	}

	.last_sixth_padding {
		padding-bottom: 4em;
	}
	.one_full_sm {
		width: 100%;
		text-align: center;		
	}
   form {
   	font-size: 60%;
   }
}
</style>
	
<div class="one_full extra_padding_reg">
	<div class="">
		<form class="" role="form" name="userform" nonvalidate>
			<div class="">
				<label class="sixth">First Name</label>
				<div class="two_thirds">
					<input ng-model="first" type="text" class="form-control one_full one_full" name="first" placeholder="Enter First Name" required maxlength="15" />	
					<div class="error" ng-show="userform.first.$error.required">
						Please enter your first name
					</div>				
				</div>
				<div class="sixth last_sixth_padding_1">&nbsp</div>
			</div>
			<!-- 	<div class="error one_full" ng-show="userform.first.$error.required">
						Please enter your first name
					</div> -->
			<div class="form-group">
				<label class="sixth control-label">Last Name</label>
				<div class="two_thirds">
					<input ng-model="lastname" type="text" class="form-control one_full" name="lastname" placeholder="Enter Last Name" required maxlength="15" />
					<div class="error" ng-show="userform.lastname.$error.required">
						Please enter your last name
					</div>
				</div>
				<div class="sixth last_sixth_padding">&nbsp</div>
			</div>
			
			<div class="form-group">
				<label class="sixth control-label">City</label>
				<div class="two_thirds">
					<input ng-model="city" type="text" class="form-control one_full" name="city" placeholder="Enter City" required maxlength="15" />
					<div class="error" ng-show="userform.city.$error.required">
						Please enter your city
					</div>
				</div>
				<div class="sixth last_sixth_padding">&nbsp</div>
			</div>
			
			<div class="form-group">
				<label class="sixth control-label">State</label>
				<div class="two_thirds">
					<input ng-model="state" type="text" class="form-control one_full" name="state" placeholder="Enter State" required maxlength="15" />
					<div class="error" ng-show="userform.state.$error.required">
						Please enter your state
					</div>
				</div>
				<div class="sixth last_sixth_padding">&nbsp</div>
			</div>
			
			<div class="form-group">
				<label class="sixth control-label">Zip Code</label>
				<div class="two_thirds">
					<input ng-model="zip" type="text" class="form-control one_full" name="zip" placeholder="Zip Code" required maxlength="5" />
					<div class="error" ng-show="userform.zip.$error.required">
						Please enter your zip code
					</div>
				</div>
				<div class="sixth last_sixth_padding">&nbsp</div>
			</div>

			<div class="form-group">
				<div class="sixth ">&nbsp</div>
				<div class="two_thirds col-sm-10">
					<a href="#/cart" ng-click="addUser(first, last, city, state, zip)"><button ng-disabled="userform.$invalid" type="submit" class="btn btn-success btn_reg btn-success_reg one_full_sm">Sign in</button></a>&nbsp;&nbsp;<span class="one_full_sm" ng-show="userform.$invalid">All fields must be completed to create a new user account</span></a>
				<div class="sixth">&nbsp</div>
				</div>
			</div>
		</form>
	</div>
	
</div>
	
	
	
	
	