
<style type="text/css">

.support-container {
	font-family: Helvetica;
	padding-top: 8em;
	text-align: justify;
}
.support-container .support {
	margin-bottom: 2em;
}
.support-container .ninety_five {
	text-align: center;
}
.support-container .insetDiv {
	display: inline-block;
	width: 30%;
	position: relative;
	margin-right: .5em;
	margin-left: .5em;
	margin-bottom: 1em;
}
.support-container .insetDiv img {
	width: 100%;
	height: 14em;
}
.insetBottomRight {
	position: absolute;
	background-color: rgba(0,0,0,0);
	bottom: 4%;
	right: .5em;
	font-size: 1.5em;
	font-weight: bold;
	color: lightyellow;
}
/* ******************************************************* */
/* ********************* MEDIA QUERIES ******************* */
@media only screen and (max-width: 59em) {/* 1170px */
	.support-container {
		padding-top: 10em;
	}
	.support-container .ninety_five {
		text-align: center;
	}
	.support-container .insetDiv {
		width: 100%;
	}
	.support-container .insetDiv img {
		width: 100%;
		height: 17em;
	}
}

@media only screen and (max-width: 29em) {/* 525px */
	.support-container {
		padding-top: 5em;
	}
	.support-container .insetDiv img {
		width: 100%;
		height: 11em;
	}
}
</style>

	<div class="support-container">
		<div class="">
			<div class="support">
				<p>We believe that by teaching our youth to be creative, lessons can transcend into problem solving skills that can have a positive effect on their future.</p>
				<p>With funding continuously being cut from art in education across the US, outside support is critical. Incarcerated artist have a chance to give back by donating a percentage of all sales proceeds to fund these programs.</p>			
			</div>
		</div>  <!-- one_full -->
		<div class="ninety_five">
			<div class="">
				<div class="insetDiv">
					<img src="./images/about/father_son_building.jpg">
					<span class="insetBottomRight">Detroit, MI</span>
				</div>
				<div class="insetDiv" >
					<span class="insetBottomRight">Seattle, WA</span>
					<img src="./images/about/spaghetti_bridge.jpg">
				</div>
				<div class="insetDiv">
					<span class="insetBottomRight">Oakland, CA</span>
					<img src="./images/teen_art/school_children.png">
				</div>
			</div>
			<div class="">
				<div class="insetDiv">
					<span class="insetBottomRight">Portland, OR</span><img src="./images/about/teen_girls_building.jpg">
				</div>
				<div class="insetDiv">
					<span class="insetBottomRight">Atlanta, GA</span>
					<img src="./images/teen_art/children_in_classroom_II.png">
				</div>
				<div class="insetDiv">
					<span class="insetBottomRight">Los Angeles, CA</span>
					<img class="" src="./images/teen_art/teen-museum-visit.jpg">
				</div>
			</div>
		</div>
	</div>	<!-- <extra_padding -->